<footer>
   <div class="line"></div>
      <a href="/"><h2>BlogBase</h2></a>
      <p>An open blog site</p>
   <div class="socials">
      <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
   </div>
   <p>Copyright &copy; BlogBase 2021</p>
</footer>