<nav>
   <input type="checkbox" id="check">
   <label for="check" class="menu-btn">
      <i class="fas fa-bars fa-2x"></i>
   </label>
   <div class="site-title">
      <a href="/"><h1>BlogBase</h1></a>
   </div>
   <ul>
      <li class="active"><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
   </ul>
   <div id=menu-close>
      <i class="fas fa-times fa-2x"></i>
   </div>
</nav>