<html lang="en">
   <head>
      <meta char="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Blog Site | About</title>
      <link rel="stylesheet" href="/styles.css">
   </head>
   <body>
      <!-- Nav -->
      <nav>
         <input type="checkbox" id="check">
         <label for="check" class="menu-btn">
            <i class="fas fa-bars fa-2x"></i>
         </label>
         <div class="site-title">
            <a href="/"><h1>BlogBase</h1></a>
         </div>
         <ul>
            <li class="active"><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
         </ul>
         <div id=menu-close>
            <i class="fas fa-times fa-2x"></i>
         </div>
      </nav>
      <!-- Content -->
      <div class="about content">
         <div class="features">
            <h2>About Us</h2>
            <div class="line"></div>
         </div>
         <div class="content-text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum corporis ad quis consequuntur cumque ipsa ratione doloremque tempora itaque obcaecati!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum corporis ad quis consequuntur cumque ipsa ratione doloremque tempora itaque obcaecati!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum corporis ad quis consequuntur cumque ipsa ratione doloremque tempora itaque obcaecati!</p>
         </div>
      </div>
      <!-- Footer -->
      <footer>
         <div class="line"></div>
            <a href="/"><h2>BlogBase</h2></a>
            <p>An open blog site</p>
         <div class="socials">
            <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
         </div>
         <p>Copyright &copy; BlogBase 2021</p>
      </footer>

      <script>

         const menuBtn = document.querySelector(".fas");

         menuBtn.addEventListener("click", () => {
            if (menuBtn.classList.contains("fa-times")) {
               menuBtn.classList.remove("fa-times");
               menuBtn.classList.add("fa-bars");
            } else {
               menuBtn.classList.remove("fa-bars");
               menuBtn.classList.add("fa-times");
            }
         });
      
      </script>

      <script src="https://kit.fontawesome.com/d5e6ebc1a9.js" crossorigin="anonymous"></script>

   </body>
</html>