<html lang="en">
   <%- include partials/head %>
   <body>

      <%- include partials/nav %>

      <div class="about content">
         <div class="features">
            <h2>About Us</h2>
            <div class="line"></div>
         </div>
         <div class="content-text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum corporis ad quis consequuntur cumque ipsa ratione doloremque tempora itaque obcaecati!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum corporis ad quis consequuntur cumque ipsa ratione doloremque tempora itaque obcaecati!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum corporis ad quis consequuntur cumque ipsa ratione doloremque tempora itaque obcaecati!</p>
         </div>
      </div>

      <%- include partials/footer %>

      <script>

         const menuBtn = document.querySelector(".fas");

         menuBtn.addEventListener("click", () => {
            if (menuBtn.classList.contains("fa-times")) {
               menuBtn.classList.remove("fa-times");
               menuBtn.classList.add("fa-bars");
            } else {
               menuBtn.classList.remove("fa-bars");
               menuBtn.classList.add("fa-times");
            }
         });
      
      </script>

      <script src="https://kit.fontawesome.com/d5e6ebc1a9.js" crossorigin="anonymous"></script>

   </body>
</html>